{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1> Coding Thunder</h1>
              <span class="subheading">A blog liked by programmers</span>
            </div>
          </div>
        </div>
      </div>
    </header>    

    {% for r in result %}
    
            
              <h2 class="post-title">{{r.name}}</h2>
            <p class="post-meta">
              {{r.msg}}</p>
          
          <hr>
          
        {% endfor %}  
          
          
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts →</a>
          </div>
        
    {% endblock %}
